<div
  class="sidenav"
  fxLayout="column"
  fxLayoutAlign="start start"
  class="sidenav"
>
  <div *ngIf="!isLoggedIn">
    <div>
      <button mat-raised-button class="sidenav__button" (click)="login()">
        Login
      </button>
    </div>
    <div>
      <button mat-raised-button class="sidenav__button" routerLink="/Homepage">
        sample stories
      </button>
    </div>
  </div>
  <div *ngIf="isLoggedIn">
    <div>
      <button mat-raised-button class="sidenav__button" routerLink="/Homepage">
        View public stories
      </button>
    </div>
    <div>
      <button mat-raised-button class="sidenav__button" routerLink="/MyBooks">
        View my stories
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        class="sidenav__button"
        routerLink="/AddNewBook"
      >
        Add new story
      </button>
    </div>
  </div>
</div>
