<div fxLayout="column" class="view">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
        </mat-card-header>
      </div>
      <div>
        <mat-card-content>
          <div class="view__story">
            {{ book.story }}
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <mat-form-field>
        <mat-label>Add your comment</mat-label>
        <textarea
          matInput
          placeholder="Ex. Story looks good..."
          [(ngModel)]="newComment"
        ></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="addNewComment()">
        Add comment
      </button>
    </div>
  </div>
  <div *ngIf="isCommentAvailable">
    Comments:-
    <ul class="view__comment" *ngFor="let comment of book.comments">
      <li>{{ comment.comment }} - {{ getNameWithId(comment.commenterId) }}</li>
    </ul>
  </div>
  <div *ngIf="!isCommentAvailable">
    No comments available for this book yet...
  </div>
</div>
