.card {
  background-color: antiquewhite;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 250px;
}
.card__title {
  font-size: xx-large;
}
.card__author {
  font-size: small;
  color: grey;
}
